 h1 {
  color: White;
  font-size: 36pt;
}
p {
  color: White;
}
div.b {
  height: 50px;
  border: 1px solid black;  
}
      body {
          background-image: url("pathway.jpg");
          background-repeat: no-repeat;

      }
     
  

