 h1 {
  color: White;
  font-size: 36pt;
}
p {
  color: White;
}

      body {
          }
      
.bg-image{

background-image: url("pathway.jpg");
 height:500px
 background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 

}

