 h1 {
  color: White;
  font-size: 36pt;
}
p {
  color: White;
}

      body {
          background-image: url("pathway.jpg" width ="50%" height ="50%");
          background-repeat: no-repeat;

      }
     
  

